#main{
        height: 600px;
        margin:50px;
        background-color: white;
        border-radius: 20px;
        height:500vh;

}

html {
    scroll-behavior: smooth;
  }
body{
    background-color: rgb(238, 238, 238);
    scroll-behavior: sm;
}
#navbar{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding:35px;
    padding-right: 100px ;
    


  
}
.navbutton{
      color:rgb(56, 55, 55);
      text-decoration: none;
      font-family: 'Work Sans';
      font-weight: 700;

}
#navitems{
    display: flex;
    gap: 30px;
}
#content{
    font-family: Work Sans ;
    margin-top: 100px;

}
#Name{
    color: rgb(19, 187, 187);
}
#hero{
    display:flex;
    justify-content: center;
    height:600px;
    gap: 200px;

    
    
}
#resumebutton{
    /* border:2px solid red; */
    border-radius: 10px;
    padding: 5px;
    border:solid black;
    color:black;
    text-decoration: none;
    margin-top:10px;
}
#pfp{
    border-radius:49% 51% 48% 52% / 39% 38% 62% 61%;
    width:300px;
    height:300px;
    margin-top: 50px;
}
.icon{
    margin-top: 30px;
    color:black;
    
}
#icons_container{
    display: flex;
    gap:20px;
    
}
#work-section{
    border-color: solid red;
}
.heading{
       margin-top: 240px;
       margin-left: 190px;
       font-family: Work Sans ;

       

}
.project-image{
    width:250px;
    height:150px;
    border-radius: 30px;

}
.project_container{

    margin-left:150px;
     /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    background-color:rgb(239, 241, 241);
    border-radius:30px;
}
.project-text{
    margin-left:10px;
    font-family: Work Sans;
    width:230px;
    
}
#projects_container{
    display: flex;  
 
}
#education-heading{
    margin-bottom:30px;
    margin-top:90px;
}
#skills_container{
    display:flex;
}
.skills-image{
    width:200px;
    height:180px;
    border-radius: 10px;
}
.skills-container{
    margin-left:150px;
    /* border:2px solid red; */
   display: flex;
   flex-direction: column;
   background-color:white;
   border-radius:15px;
}
#sql-image{
    width:270px;
    height:190px;
}
#css-image{
    width:150px;
    height:180px;
}
#c-image{
    width:150px;
    height:180px;
    

}

@media screen and (max-width: 800px) { 
    #main{
        height:400vh;
        width:99vw;
        margin:0px;
        

    }

    #hero{
        
        /* if screen view port is small  */
        flex-wrap: wrap-reverse;
        gap: 0px;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    #content{
        margin-top: 2px;
        text-align: center;
    }
    #projects_container,#skills_container{
        flex-wrap: wrap;
        justify-content: center;

    }
    #icons_container{
        justify-content: center;
    }
    .heading{
        text-align: center;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .project_container{
        margin-left: 0px;
        justify-content: center;
        margin-bottom: 25px;
    }
} 







